doctype html
html(lang="en")
  head
    title Markdown Builder
    link(rel="stylesheet" href="/main.css")
  body
    .container
      h1.headline Build your markdown
      p.description
        | Journey your markdown to the Userland.
        | And yay! Checkout 
        a(href="https://github.com/shuvalov-anton/md-builder") GitHub repo
        | !
    form(method="POST" action=_id ? "/gist/" + _id : "/gist")
      .editor
        .container
          label.markdown-title-label #
          input.markdown-title(name="title" placeholder="Title" autocomplete="off" value=title)
          textarea.markdown(name="content" placeholder="Just put it right here…")= content
      .container
        if (_id)
          a.btn.btn-blue(href="/html/#{_id}" target="_blank") Share
          a.btn.btn-blue(href="/pdf/#{_id}" target="_blank") PDF
          a.btn.btn-blue(href="/epub/#{_id}" target="_blank") EPUB
          a.btn.btn-blue(href="/mobi/#{_id}" target="_blank") MOBI
        button.btn(type="submit") Save
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="/app.js")
